<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection"/>
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="username">
    <p>{{username}}</p>
    <p v-text="username"></p>
    <p v-html="username"></p>
    <img v-bind:src="imgUrl" alt="">
    <img :src="imgUrl" alt="">

    <button v-on:click="test">test1</button>
    <button @click="test1('123123213')">test1</button>
    <button @click="test1(username)">{{username}}</button>

    <br>
    <input type="text" v-model="fn"><br>
    <input type="text" v-model="ln"><br>
    <input type="text" v-model="tname"><br>
    <input type="text" v-model="tname1">
</div>
<script>
    const vm = new Vue({
        el : '#app',
        data : {
            username : 'test',
            imgUrl: '/images/pinred.png',
            fn:'fn',
            ln:'ln',
            tn:'tn',
            sn:'sn',
            en:'en'
        },
    })

</script>
</body>
</html>
