.block {
    display: block;
}

.inline {
    display: -webkit-box;
}

.none {
    display: none;
    visibility: hidden;
}

.of-hide {
    overflow: hidden;
}

.fr {
    float: right
}

.fl {
    float: left
}

.fixed {
    position: fixed;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.margin-center {
    margin: 0 auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 99999;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 99999;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    z-index: 99999;
}
