* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    font-family: PingFangSC-Regular, "Source Han Sans";
}

app, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    vertical-align: baseline;
}

app, html, body {
    height: 100%;
    width: 100%;
}

/*解决手机端点击的BUG*/
/*html {*/
/*touch-action: manipulation;*/
/*}*/
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
textarea,
button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

input {
    text-indent: 5px;
}

img {
    border: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

p {
    line-height: 20px;
}

table {
    border-collapse: collapse;


}

td,
tr {
    padding: 0;
    margin: 0;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder {
    color: #C7C7C7;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.cursor {
    cursor: pointer;
}

.input[type="number"] {
    -moz-appearance: textfield;
}
