
* { box-sizing: border-box; font-family: PingFangSC-Regular, "Source Han Sans"; }
app, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input { margin: 0px; padding: 0px; border: 0px; font-weight: normal; vertical-align: baseline; }
app, html, body { height: 100vh; width: 100%; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd { margin: 0px; padding: 0px; border: none; list-style: none; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a:hover, a:focus { text-decoration: none; }
input, textarea, button { border: none; outline: none; }
button { cursor: pointer; }
input { text-indent: 5px; }
img { border: none; height: auto; max-width: 100%; vertical-align: middle; }
i, cite, em, var, address, dfn { font-style: normal; }
p { line-height: 20px; }
table { border-collapse: collapse; }
td, tr { padding: 0px; margin: 0px; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { margin: 0px; -webkit-appearance: none !important; }
[v-cloak] { display: none !important; }
::-webkit-scrollbar { display: none !important; }
.ewmbox { position: fixed; top: 0px; left: 0px; width: 1.1rem; height: 1.1rem; z-index: 8888; opacity: 0.001; }
@keyframes twinkle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.ewmbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1.1rem;
    height: 1.1rem;
    z-index: 8888;
    opacity: 0.001;
}
