
* { box-sizing: border-box; font-family: PingFangSC-Regular, "Source Han Sans"; }
#app, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input { margin: 0px; padding: 0px; border: 0px; font-weight: normal; vertical-align: baseline; }
html { }
html, body, #app { height: 100vh; width: 100%; }
body { color: rgb(29, 38, 46); background: rgb(245, 248, 250); }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd { margin: 0px; padding: 0px; border: none; list-style: none; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a:hover, a:focus { text-decoration: none; }
input, textarea, button { border: none; outline: none; }
button { cursor: pointer; }
input { text-indent: 5px; }
img { border: none; height: auto; max-width: 100%; vertical-align: middle; }
i, cite, em, var, address, dfn { font-style: normal; }
p { line-height: 20px; }
table { border-collapse: collapse; }
td, tr { padding: 0px; margin: 0px; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { margin: 0px; -webkit-appearance: none !important; }
::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track-piece { background-color: rgba(0, 0, 0, 0.2); border-radius: 6px; }
::-webkit-scrollbar-thumb:vertical { height: 5px; background-color: rgba(125, 125, 125, 0.7); border-radius: 6px; }
::-webkit-scrollbar-thumb:horizontal { width: 5px; background-color: rgba(125, 125, 125, 0.7); border-radius: 6px; }
[class*="animation-"] { animation-duration: 0.5s; animation-timing-function: ease-out; animation-fill-mode: both; }
[v-cloak] { display: none !important; }
::-webkit-scrollbar { display: none !important; }
.xuanzhun { transition-property: -webkit-transform; transition-duration: 1s; animation: 6s linear 0s infinite normal none running rotate; }
.mio-modal-mask { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.6); z-index: 888; transition: all 0.3s ease-in-out 0s; opacity: 1; visibility: visible; }
@keyframes scale-upOne {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    25% {
        opacity: 1;
        transform: scale(1.1)
    }
    50% {
        opacity: 1;
        transform: scale(1.2)
    }
    75% {
        opacity: 1;
        transform: scale(1.1)
    }
    100% {
        opacity: 1;
        transform: scale(1.0)
    }
}
.xuanzhun {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 6s linear infinite;
    -moz-animation: rotate 6s linear infinite;
    -o-animation: rotate 6s linear infinite;
    animation: rotate 6s linear infinite;
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

@keyframes qianhe {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    4.25% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    8.25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    12.5% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    16.5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20.5% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    24.75% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    28.75% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    33% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    37% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    41.25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    45.25% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    49.5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    53.5% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    57.75% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    61.75% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    66% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    70% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    74.25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    78.25% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    82.5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    86.5% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    90.75% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    94.75% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes qian {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        right: -0.3rem;
        top: 0rem;
    }
    20% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        right: -0.6rem;
        top: 0.6rem;
    }
    30% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        right: -0.9rem;
        top: 1.2rem;
    }
    40% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        right: -1.2rem;
        top: 1.8rem;
    }
    50% {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
        right: -1.2rem;
        top: 2.4rem;
    }
    60% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
        right: -1.2rem;
        top: 3rem;
    }
    70% {
        -webkit-transform: rotate(630deg);
        transform: rotate(630deg);
        right: -1.5rem;
        top: 3.6rem;
    }
    80% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        right: -1.2rem;
        top: 4.4rem;
    }
    90% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
        right: -1.2rem;
        top: 4.8rem;
    }
    100% {
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        right: -1.2rem;
        top: 5.6rem;
        opacity: 1;
    }
}

@keyframes qian {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0.3;
    }
    10% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        right: -0.3rem;
        top: 0rem;
        opacity: 0.5;
    }
    20% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        right: -0.6rem;
        top: 0.6rem;
    }
    30% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        right: -0.9rem;
        top: 1.2rem;
    }
    40% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        right: -1.2rem;
        top: 1.8rem;
    }
    50% {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
        right: -1.2rem;
        top: 2.4rem;
    }
    60% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
        right: -1.2rem;
        top: 3rem;
    }
    70% {
        -webkit-transform: rotate(630deg);
        transform: rotate(630deg);
        right: -1.5rem;
        top: 3.6rem;
        opacity: 1;
    }
    80% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        right: -1.2rem;
        top: 4.4rem;
        opacity: 1;
    }
    90% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
        right: -1.2rem;
        top: 4.8rem;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        right: -1.2rem;
        top: 5.6rem;
        opacity: 1;
    }
}

.mio-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 888;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}

@-webkit-keyframes yuncai1 {
    0% {
        left: 0.3rem;
    }
    50% {
        left: 0.6rem;
    }
    100% {
        left: 0.3rem;
    }
}

@-webkit-keyframes yuncai2 {
    0% {
        left: 2.5rem;
    }
    50% {
        left: 2.2rem;
    }
    100% {
        left: 2.5rem;
    }
}

@keyframes yuncai1 {
    0% {
        left: 0.2rem;
    }
    50% {
        left: 0.6rem;
    }
    100% {
        left: 0.2rem;
    }
}

@keyframes yuncai2 {
    0% {
        left: 2.6rem;
    }
    50% {
        left: 2.2rem;
    }
    100% {
        left: 2.6rem;
    }
}

@-webkit-keyframes cq_two-data-v-ce8ed35e {
    from {
        top: 100%;
    }
    to {
        top: 0%;
    }
}

@keyframes cq_two-data-v-ce8ed35e {
    from {
        top: 100%;
    }
    to {
        top: 0%;
    }
}


@keyframes slide-top {
    0% {
        opacity: 1;
        transform: translateY(0.1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
