.cu-form-group {
    background-color: #ffffff;
    padding: 1upx 30upx;
    display: flex;
    align-items: center;
    min-height: 100upx;
    justify-content: space-between;
}

.cu-form-group+.cu-form-group {
    border-top: 1upx solid #eee;
}

.cu-form-group .title {
    text-align: justify;
    padding-right: 30upx;
    font-size: 30upx;
    position: relative;
    height: 60upx;
    line-height: 60upx;
}

.cu-form-group input {
    flex: 1;
    font-size: 30upx;
    color: #555;
    padding-right: 20upx;
}

.cu-form-group>text[class*="fa-"] {
    font-size: 36upx;
    padding: 0;
    box-sizing: border-box;
}

.cu-form-group textarea {
    margin: 32upx 0 30upx;
    height: 4.6em;
    width: 100%;
    line-height: 1.2em;
    flex: 1;
    font-size: 28upx;
    padding: 0;
}

.cu-form-group.align-start .title {
    height: 1em;
    margin-top: 32upx;
    line-height: 1em;
}

.cu-form-group picker {
    flex: 1;
    padding-right: 40upx;
    overflow: hidden;
    position: relative;
}

.cu-form-group picker .picker {
    line-height: 100upx;
    font-size: 28upx;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: right;
}

.cu-form-group picker::after {
    display: block;
    content: "\e6a3";
    position: absolute;
    font-size: 34upx;
    color: #8799a3;
    line-height: 100upx;
    width: 60upx;
    text-align: center;
    top: 0;
    bottom: 0;
    right: -20upx;
    margin: auto;
}

.cu-form-group textarea[disabled],
.cu-form-group textarea[disabled] .placeholder {
    color: transparent;
}
