@charset "utf-8";
.container{width:300px;margin:0px auto 0 auto;position:relative;}
.action{width: 300px;height: 30px;margin: 10px 0;}
.cropped{position:absolute;right:-230px;top:0;}
.cropped img{display:block;margin-bottom:10px;}
.imageBox{
    position:relative;
    height:300px;
    width:300px;
    border:1px solid #aaa;
    background:#fff;
    overflow:hidden;
    background-repeat:no-repeat;
    cursor:move;
}
.imageBox .thumbBox{
    position:absolute;
    top:50%;
    left:50%;
    width:200px;
    height:200px;
    margin-top:-100px;
    margin-left:-100px;
    box-sizing:border-box;
    border:1px solid rgb(102, 102, 102);
    box-shadow:0 0 0 1000px rgba(0, 0, 0, 0.5);
    background:none repeat scroll 0% 0% transparent;
}
.imageBox .spinner{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align:center;
    line-height:400px;
    background:rgba(0,0,0,0.7);
}