<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta http-equiv=X-UA-Compatible content="ie=edge">
	<meta name=apple-mobile-web-app-capable content=yes>
	<meta name=apple-touch-fullscreen content=yes>
	<meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
	<meta name=format-detection content="telephone=no">
	<meta name=format-detection content="email=no">
	<meta name=renderer content=webkit>
	<meta name=screen-orientation content=portrait>
	<meta name=x5-orientation content=portrait>
	<meta name=x5-fullscreen content=true>
	<meta name=full-screen content=yes>
	<meta name=keywords content="">
	<meta name=description content="">
	<meta http-equiv=Content-Type content="text/html; charset=utf-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/animation.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/box.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/color.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/flex.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/text.css"/>
	<script src="../../js/vue.js"></script>
	<script src="../../js/jquery-1.11.1.min.js"></script>
	<script>
        (function (doc, win) { // 移动端适配
            var docEl = doc.documentElement,
                isIOS = navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
                dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
                dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
                dpr = 1,
                scale = 1 / dpr,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize'
            docEl.dataset.dpr = dpr
            var metaEl = doc.createElement('meta')
            metaEl.name = 'viewport'
            metaEl.content = 'initial-scale=' + scale + ',maximum-scale=' + scale + ', minimum-scale=' + scale
            docEl.firstElementChild.appendChild(metaEl)
            var recalc = function () {
                var width = docEl.clientWidth
                if (width / dpr > 375) {
                    width = 375 * dpr
                }
                // 乘以100，px : rem = 100 : 1
                docEl.style.fontSize = 100 * (width / 375) + 'px'
            }
            recalc()
            if (!doc.addEventListener) return
            win.addEventListener(resizeEvt, recalc, false)
        })(document, window)
	</script>
	<style>
		#review_boxs {
			height: 68%;
			overflow: hidden!important;
		}
		@-webkit-keyframes bounce-up {
			25% {-webkit-transform: translateY(10px);}
			50%, 100% {-webkit-transform: translateY(0);}
			75% {-webkit-transform: translateY(-10px);}
		}
		@keyframes bounce-up {
			25% {transform: translateY(10px);}
			50%, 100% {transform: translateY(0);}
			75% {transform: translateY(-10px);}
		}
	</style>
</head>
<body style="font-size: 0.05rem;background: #FDF3D2;">
<div id="app" style="position: relative" class="full-width-height">
	<div v-if="status">
		<img src="../../img/pray/jiantou@2x.png" style="animation:bounce-up 1s infinite linear;width: 0.55rem;height: 0.57rem;position: absolute;top: 0.19rem;right: 0.12rem">
		<img :src="img_url" style="width: 3.52rem;height: 1.83rem;margin-left: 0.12rem;position: absolute;top: 0.88rem;">
		<img src="../../img/pray/yhfk@2x.png" style="width: 3.35rem;height: 0.46rem;margin-left: 0.18rem;position: absolute;top: 3.02rem;">
		<div class="bg-white" style="position: absolute;top: 3.7rem;left: 0.24rem;width:3.34rem;height:38%;;border-radius:0.09rem;border:0.04rem solid rgba(255,187,86,1);">
			<div class="flex justify-center align-center text-center" style="padding: 0.10rem 0.13rem 0.10rem 0.08rem;font-size:0.15rem;font-weight:bold;color:rgba(255,69,0,1);line-height:0.21rem;">
				{{mess}}
			</div>
			<div style="height:0.10rem;background:rgba(232,232,232,1);"></div>
			<div v-if="comment" id="review_boxs" class="padding" style="width: 100%;pointer-events: none;">
				<div id="comment1s"></div>
				<div id="comment2s"></div>
			</div>
		</div>
	</div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                comment: true,
                status: true,
                mess: `本解签一共帮助了${this.randomNum(3000000, 6000000)}名用户，${this.randomNum(96, 99.5)}%的用户对结果非常满意`,
                num: 1,
                img_url: '../../img/pray/pengyouquan@2x.png'
            }
        },
        mounted() {
            document.addEventListener('visibilitychange', this.handleVisiable)
        },
        destroyed() {
            document.removeEventListener('visibilitychange', this.handleVisiable)
        },
        methods: {
            randomNum(min, max) { // 生成随机数 min<=num<=max
                return Math.floor(Math.random() * (max - min + 1)) + min
            },
            handleVisiable(e) { // 监听页面离开事件
                if (e.target.visibilityState === 'visible' && this.num == 1) {
                    this.img_url = '../../img/pray/weixinqun@2x.png'
                    this.num = this.num + 1
                }
                if (e.target.visibilityState === 'visible' && this.num == 2) {
                    this.status = false
                }
            }
        }
    })


    $(function () {
        roll(40)
        const list = [ // 随机留言
            {
                src: '../../img/xtx/1.jpg',
                name: '次日图捏',
                content: '保佑我以及家人身体健康，这次检查能一切顺利，开开心心，南无阿弥陀佛观世音菩萨！'
            }, {
                src: '../../img/xtx/2.jpg',
                name: 'laneud',
                content: '南无大慈大悲广大灵感观世音菩萨摩诃萨！'
            }, {
                src: '../../img/xtx/3.jpg',
                name: '开诶女聪明',
                content: '感恩顶礼南无大慈大悲观世音菩萨！'
            }, {
                src: '../../img/xtx/4.jpg',
                name: '奥Y他们',
                content: '求菩萨保佑家人健康平安！'
            }, {
                src: '../../img/xtx/5.jpg',
                name: '拉开日~',
                content: '为疫情祈祷共修观音心咒，赠人玫瑰手留余香！'
            },
            {
                src: '../../img/xtx/6.jpg',
                name: 'NFHEY楷模',
                content: '观世音菩萨保佑我用寒假时间，充实自己，好好学习。学校功课正常完成！'
            }, {
                src: '../../img/xtx/7.jpg',
                name: '默默的爱',
                content: '邀上几位挚友，也能感受脱笼之鹄的美妙！'
            }, {
                src: '../../img/xtx/8.jpg',
                name: '本田销售',
                content: '在这个世上，强者为尊！胜者为王！只要能获得胜利，岂有什么公平不公平的！'
            }, {
                src: '../../img/xtx/9.jpg',
                name: '小妞儿',
                content: '多行善，多积善，好心有好报，愿你快乐幸福，平安健康！'
            }, {
                src: '../../img/xtx/10.jpg',
                name: 'MK-星图',
                content: '命由心造，福自善转。大慈大悲，必有大成。大富大贵，善良堆成。多做好事，好事等人！'
            }, {
                src: '../../img/xtx/11.jpg',
                name: '猪猪侠',
                content: '敬一尊菩萨，祝你吉祥平安。上一柱清香，祝你身强体健。送一包香囊，祝你幸福如意！'
            }, {
                src: '../../img/xtx/12.jpg',
                name: '宝贝',
                content: '我在这里，我为我的家人祈福，祈求他们身体健康天天开心！'
            }, {
                src: '../../img/xtx/13.jpg',
                name: '左左妈妈',
                content: '愿受到地震波及的人们平安！为所有赶赴灾区救灾的英雄喝彩，祈祷他们平安幸福！地震无情，人有情！'
            }, {
                src: '../../img/xtx/14.jpg',
                name: '大量收号',
                content: '期望大家能够把过节的那些愉悦和不愉悦放下！'
            }, {
                src: '../../img/xtx/15.jpg',
                name: '吃遍天下无敌手',
                content: '愿你和善为人，静心养气，开开心心！'
            }, {
                src: '../../img/xtx/16.jpg',
                name: '情归何处',
                content: '祈福，平安，观音出家日，让我们一起祈福！'
            }, {
                src: '../../img/xtx/17.jpg',
                name: '小亮儿奶奶',
                content: '一年一年开心过，开开心心，生命快愉悦乐，一世平平安安，一家和和睦睦！'
            }, {
                src: '../../img/xtx/18.jpg',
                name: '柳暗花明',
                content: '当我们最无助和不安的时候，总是祈求观世音菩萨保佑，却忘了，求菩萨不如学菩萨！'
            }, {
                src: '../../img/xtx/19.jpg',
                name: 'pangeOne',
                content: '观音出家月到来，祝大家：家庭圆满，事业圆满，爱情圆满，功德圆满！人人都有菩萨缘！'
            },
            {
                src: '../../img/xtx/20.jpg',
                name: '周..',
                content: '佛用佛心爱世人，我用我意敬天地，祝家人梦想成真，幸福快乐每一天！'
            },
            {
                src: '../../img/xtx/1.jpg',
                name: '次日图捏',
                content: '保佑我以及家人身体健康，这次检查能一切顺利，开开心心，南无阿弥陀佛观世音菩萨！'
            }, {
                src: '../../img/xtx/2.jpg',
                name: 'laneud',
                content: '南无大慈大悲广大灵感观世音菩萨摩诃萨！'
            }, {
                src: '../../img/xtx/3.jpg',
                name: '开诶女聪明',
                content: '感恩顶礼南无大慈大悲观世音菩萨！'
            }, {
                src: '../../img/xtx/4.jpg',
                name: '奥Y他们',
                content: '求菩萨保佑家人健康平安！'
            }, {
                src: '../../img/xtx/5.jpg',
                name: '拉开日~',
                content: '为疫情祈祷共修观音心咒，赠人玫瑰手留余香！'
            },
            {
                src: '../../img/xtx/6.jpg',
                name: 'NFHEY楷模',
                content: '观世音菩萨保佑我用寒假时间，充实自己，好好学习。学校功课正常完成！'
            }, {
                src: '../../img/xtx/7.jpg',
                name: '默默的爱',
                content: '邀上几位挚友，也能感受脱笼之鹄的美妙！'
            }, {
                src: '../../img/xtx/8.jpg',
                name: '本田销售',
                content: '在这个世上，强者为尊！胜者为王！只要能获得胜利，岂有什么公平不公平的！'
            }, {
                src: '../../img/xtx/9.jpg',
                name: '小妞儿',
                content: '多行善，多积善，好心有好报，愿你快乐幸福，平安健康！'
            }, {
                src: '../../img/xtx/10.jpg',
                name: 'MK-星图',
                content: '命由心造，福自善转。大慈大悲，必有大成。大富大贵，善良堆成。多做好事，好事等人！'
            }, {
                src: '../../img/xtx/11.jpg',
                name: '猪猪侠',
                content: '敬一尊菩萨，祝你吉祥平安。上一柱清香，祝你身强体健。送一包香囊，祝你幸福如意！'
            }, {
                src: '../../img/xtx/12.jpg',
                name: '宝贝',
                content: '我在这里，我为我的家人祈福，祈求他们身体健康天天开心！'
            }, {
                src: '../../img/xtx/13.jpg',
                name: '左左妈妈',
                content: '愿受到地震波及的人们平安！为所有赶赴灾区救灾的英雄喝彩，祈祷他们平安幸福！地震无情，人有情！'
            }, {
                src: '../../img/xtx/14.jpg',
                name: '大量收号',
                content: '期望大家能够把过节的那些愉悦和不愉悦放下！'
            }, {
                src: '../../img/xtx/15.jpg',
                name: '吃遍天下无敌手',
                content: '愿你和善为人，静心养气，开开心心！'
            }, {
                src: '../../img/xtx/16.jpg',
                name: '情归何处',
                content: '祈福，平安，观音出家日，让我们一起祈福！'
            }, {
                src: '../../img/xtx/17.jpg',
                name: '小亮儿奶奶',
                content: '一年一年开心过，开开心心，生命快愉悦乐，一世平平安安，一家和和睦睦！'
            }, {
                src: '../../img/xtx/18.jpg',
                name: '柳暗花明',
                content: '当我们最无助和不安的时候，总是祈求观世音菩萨保佑，却忘了，求菩萨不如学菩萨！'
            }, {
                src: '../../img/xtx/19.jpg',
                name: 'pangeOne',
                content: '观音出家月到来，祝大家：家庭圆满，事业圆满，爱情圆满，功德圆满！人人都有菩萨缘！'
            },
            {
                src: '../../img/xtx/20.jpg',
                name: '周..',
                content: '佛用佛心爱世人，我用我意敬天地，祝家人梦想成真，幸福快乐每一天！'
            }
        ]

        // 插入列表数据
        $('#comment1s').html('')
        var tempList = JSON.parse(JSON.stringify(list))
        var html = ''
        $.each(tempList, function (key, val) {
            html +=
                '<div style="border-bottom: 1px solid #eee;height: 0.8rem;padding-top: 0.09rem;padding-bottom: 0.12rem" >' +
                '<div style="">' +
                '<p style="font-size:0.15rem;font-weight: bold">' + tempList[key].name + '</p>' +
                '<p style="margin-top: 0.02rem;font-size: 0.13rem">' + tempList[key].content + '</p>' +
                '</div>' +
                '</div>'
        })
        $('#comment1s').append(html)
    })


    function roll(t) {
        var ul1 = document.getElementById('comment1s')
        var ul2 = document.getElementById('comment2s')
        var ulbox = document.getElementById('review_boxs')

        ul2.innerHTML = ul1.innerHTML
        ulbox.scrollTop = 0 // 开始无滚动时设为0
        var timer = setInterval(rollStart, t) // 设置定时器，参数t用在这为间隔时间（单位毫秒），参数t越小，滚动速度越快

        // 鼠标移出div后继续滚动
        ulbox.onmouseout = function () {
            timer = setInterval(rollStart, t)
        }
    }

    function rollStart() { // 开始滚动函数
        // 上面声明的DOM对象为局部对象需要再次声明
        var ul1 = document.getElementById('comment1s')
        var ul2 = document.getElementById('comment2s')
        var ulbox = document.getElementById('review_boxs')
        // 正常滚动不断给scrollTop的值+1,当滚动高度大于列表内容高度时恢复为0
        if (ulbox.scrollTop + 1 >= ul1.scrollHeight) {
            ulbox.scrollTop = 0
        } else {
            ulbox.scrollTop++
        }
    }
</script>
</body>
</html>
