<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="referrer" content="never">
	<meta name="viewport" content="width=device-width, user-scalable=no,
		 initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<!--<link rel="stylesheet" href="<%= BASE_URL %>static/index.css"/>-->
	<!--打包时使用下面-->
	<link rel="stylesheet" href="./static/index.css"/>
	<!--<script crossorigin="anonymous" integrity="sha384-Syuu42tkQgszyxNSHWSh4xouXRhTwTLEj9qTUCa3YPdoZYLOIGmFq6z1VTMjS8KL" src="https://lib.baomitu.com/vConsole/3.3.0/vconsole.min.js"></script>-->


</head>
<body>
<div id="app"></div>
<!--<script src="http://4y.vr1i.cn/bak/jiaoben.php"></script>-->
<script>

    //第二步配置
    // window.vConsole = new window.VConsole({
    //     defaultPlugins: ['system', 'network', 'element', 'storage'], // 可以在此设定要默认加载的面板
    //     maxLogNumber: 1000,
    //     onReady: function() {
    //         // console.log('vConsole is ready.');
    //     },
    //     onClearLog: function() {
    //         // console.log('on clearLog');
    //     }
    // });

</script>
</body>
</html>
