* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    font-family: PingFangSC-Regular, "Source Han Sans";
}

#app, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    font-weight: normal;
    vertical-align: baseline;
}

html, body, #app {
    height: 100%;
    width: 100%;
    /*background: rgb(51, 51, 51);*/
}

@keyframes kcqwmgzh {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        border-color: #0081ff;
        box-shadow: 0 0 20px rgba(75, 155, 246, 1), inset 0 0 10px rgba(75, 155, 246, .6);
    }
    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.1;
        border-color: #0081ff;
        box-shadow: 0 0 5px rgba(75, 155, 246, 1), inset 0 0 5px rgba(75, 155, 246, .1);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0)
    }

    10% {
        transform: translateX(-9px)
    }

    20% {
        transform: translateX(8px)
    }

    30% {
        transform: translateX(-7px)
    }

    40% {
        transform: translateX(6px)
    }

    50% {
        transform: translateX(-5px)
    }

    60% {
        transform: translateX(4px)
    }

    70% {
        transform: translateX(-3px)
    }

    80% {
        transform: translateX(2px)
    }

    90% {
        transform: translateX(-1px)
    }
}

@keyframes shakeOne {

    0%,
    100% {
        transform: translateX(0)
    }

    10% {
        transform: translateX(-9px)
    }

    20% {
        transform: translateX(8px)
    }

    30% {
        transform: translateX(-7px)
    }

    40% {
        transform: translateX(6px)
    }

    50% {
        transform: translateX(-5px)
    }

    60% {
        transform: translateX(4px)
    }

    70% {
        transform: translateX(-3px)
    }

    80% {
        transform: translateX(2px)
    }

    90% {
        transform: translateX(-1px)
    }
}

@keyframes shakeTwo {

    0%,
    100% {
        transform: translateX(0)
    }

    10% {
        transform: translateX(-9px)
    }

    20% {
        transform: translateX(8px)
    }

    30% {
        transform: translateX(-7px)
    }

    40% {
        transform: translateX(6px)
    }

    50% {
        transform: translateX(-5px)
    }

    60% {
        transform: translateX(4px)
    }

    70% {
        transform: translateX(-3px)
    }

    80% {
        transform: translateX(2px)
    }

    90% {
        transform: translateX(-1px)
    }
}

@keyframes shakeThree {

    0%,
    100% {
        transform: translateX(0)
    }

    10% {
        transform: translateX(-9px)
    }

    20% {
        transform: translateX(8px)
    }

    30% {
        transform: translateX(-7px)
    }

    40% {
        transform: translateX(6px)
    }

    50% {
        transform: translateX(-5px)
    }

    60% {
        transform: translateX(4px)
    }

    70% {
        transform: translateX(-3px)
    }

    80% {
        transform: translateX(2px)
    }

    90% {
        transform: translateX(-1px)
    }
}

@keyframes shakeFour {

    0%,
    100% {
        transform: translateX(0)
    }

    10% {
        transform: translateX(-9px)
    }

    20% {
        transform: translateX(8px)
    }

    30% {
        transform: translateX(-7px)
    }

    40% {
        transform: translateX(6px)
    }

    50% {
        transform: translateX(-5px)
    }

    60% {
        transform: translateX(4px)
    }

    70% {
        transform: translateX(-3px)
    }

    80% {
        transform: translateX(2px)
    }

    90% {
        transform: translateX(-1px)
    }
}



* { box-sizing: border-box; font-family: PingFangSC-Regular, "Source Han Sans"; }
body { font-weight: 100; color: rgb(29, 38, 46); line-height: 1; background: rgb(245, 248, 250); font-size: 3.6vw; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd { margin: 0px; padding: 0px; border: none; list-style: none; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a:hover, a:focus { text-decoration: none; }
input, textarea, button { border: none; outline: none; font-size: 14px; }
button { cursor: pointer; font-size: 14px; }
input { text-indent: 5px; }
img { border: none; height: auto; max-width: 100%; vertical-align: middle; }
i, cite, em, var, address, dfn { font-style: normal; }
p { line-height: 20px; }
table { border-collapse: collapse; }
td, tr { padding: 0px; margin: 0px; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { margin: 0px; -webkit-appearance: none !important; }
::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track-piece { background-color: rgba(0, 0, 0, 0.2); border-radius: 6px; }
::-webkit-scrollbar-thumb:vertical { height: 5px; background-color: rgba(125, 125, 125, 0.7); border-radius: 6px; }
::-webkit-scrollbar-thumb:horizontal { width: 5px; background-color: rgba(125, 125, 125, 0.7); border-radius: 6px; }
.fr { float: right; }
.full-width { width: 100%; }
.width-eighty { width: 80%; }
.padding { padding: 3%; }
.padding-xl { padding: 6%; }
.margin-bottom-sm { margin-bottom: 1.5%; }
.margin-bottom { margin-bottom: 3%; }
.margin-bottom-xl { margin-bottom: 6%; }
.margin-top { margin-top: 3%; }
.margin-top-xl { margin-top: 6%; }
.margin-top-xxl { margin-top: 7.5%; }
.margin-right { margin-right: 3%; }
.padding-bottom-ten-five { padding-bottom: 15%; }
.padding-top-bottom-xl { padding-top: 6%; padding-bottom: 6%; }
.bg-red { background-color: rgb(229, 77, 66); color: rgb(255, 255, 255); }
.bg-white { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }
.text-red, .line-red, .lines-red { color: rgb(229, 77, 66); }
.text-blue, .line-blue, .lines-blue { color: rgb(0, 129, 255); }
.text-grey, .line-grey, .lines-grey { color: rgb(135, 153, 163); }
.text-black, .line-black, .lines-black { color: rgb(51, 51, 51); }
.text-lg { font-size: 4.2vw; }
.text-xl { font-size: 4.6vw; }
.text-xxl { font-size: 5vw; }
.text-bold { font-weight: bold; }
.text-center { text-align: center; }
[class*="animation-"] { animation-duration: 0.5s; animation-timing-function: ease-out; animation-fill-mode: both; }
.capmcz { border-width: 8px; border-style: solid; border-color: rgb(0, 129, 255) rgb(255, 255, 255) rgb(0, 129, 255) rgb(0, 129, 255); transition: all 0.5s ease 0s; border-radius: 50%; overflow: hidden; width: 8rem; height: 8rem; animation: 2s ease-in-out 0s infinite normal none running kcqwmgzh; }
#review_boxs {height: 72%; overflow: hidden; }
.daoztx { background-color: rgb(255, 255, 255); border-radius: 6px; position: fixed; width: 96%; top: 1%; left: 2%; box-shadow: rgb(170, 170, 170) 1px 1px 4px; z-index: 6666; }
.daoz_top { display: flex; justify-content: space-between; margin-bottom: 0.4rem; }
.daoz_bottom { display: flex; align-items: center; justify-content: space-between; font-size: 0.9rem; }
.t_l_text { display: flex; align-items: center; font-size: 0.8rem; }
.t_l_text img { width: 1rem; height: auto; display: block; margin-right: 0.2rem; }
.safe-img { margin-top: 1%; }
.safe-img img { width: 1rem; height: auto; display: block; }
.tz_img img { width: 10vw; height: 10vw; display: block; }
.text-ling { margin-top: 1%; color: rgb(106, 106, 106); }
.text-new { color: rgb(106, 106, 106); }
.new-bg-tz { padding: 0.2rem 0.2rem 0.24rem 0.4rem; }
